<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420854058856-164kccklifmgnidq8nfiecog868ckpsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420854058856-164kccklifmgnidq8nfiecog868ckpsn</string>
	<key>API_KEY</key>
	<string>AIzaSyBE7GWz4YLixHtfcJP4AcQeV5itl9bWaNE</string>
	<key>GCM_SENDER_ID</key>
	<string>420854058856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevX.InstaPark</string>
	<key>PROJECT_ID</key>
	<string>instapark-8f2cd</string>
	<key>STORAGE_BUCKET</key>
	<string>instapark-8f2cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:420854058856:ios:1219794f86c943ab7190dd</string>
	<key>DATABASE_URL</key>
	<string>https://instapark-8f2cd.firebaseio.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>DIN-Condensed-Bold.tff</string>
		<string>BebasNeue-Regular.ttf</string>
		<string>Roboto-Regular.ttf</string>
	</array>
</dict>
</plist>
